In [4]:
def str2value(valueStr):
    valueStr = str(valueStr)
    idxOfYi = valueStr.find('亿')
    idxOfWan = valueStr.find('万')
    idxOfPercentage = valueStr.find('%')
    if idxOfYi != -1 and idxOfWan != -1:
        return int(float(valueStr[:idxOfYi])*1e8 + float(valueStr[idxOfYi+1:idxOfWan])*1e4)
    elif idxOfYi != -1 and idxOfWan == -1:
        return int(float(valueStr[:idxOfYi])*1e8)
    elif idxOfYi == -1 and idxOfWan != -1:
        return int(float(valueStr[idxOfYi+1:idxOfWan])*1e4)
    elif idxOfYi == -1 and idxOfWan == -1 and idxOfPercentage == -1:
        return float(valueStr)
    elif idxOfYi == -1 and idxOfWan == -1 and idxOfPercentage != -1:
        return float(valueStr[:idxOfPercentage])

In [5]:
str2value("14.66")

14.66

In [27]:
import akshare as ak
import pandas as pd
import numpy as np

In [28]:
df = ak.stock_individual_fund_flow_rank(indicator="今日")

In [29]:
df[df['代码'] == '000612']

,序号,代码,名称,最新价,今日涨跌幅,今日主力净流入-净额,今日主力净流入-净占比,今日超大单净流入-净额,今日超大单净流入-净占比,今日大单净流入-净额,今日大单净流入-净占比,今日中单净流入-净额,今日中单净流入-净占比,今日小单净流入-净额,今日小单净流入-净占比
5158,5159,000612,焦作万方,7.83,-3.93,-98390923.0,-17.78,-111892660.0,-20.22,13501737.0,2.44,32764090.0,5.92,65626834.0,11.86